# Part 0: Landing Club Loan Data Clean and Format

1. find the NAN data and clean it as necessary
2. format some features to suitable formats for further analysis
3. get a general idea about the data set and content
4. save the data into different group for different analysis purpose

In [3]:
# import the modules
# load the useful package 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

% matplotlib inline

In [4]:
df = pd.read_csv('inputData/loan.csv',low_memory = False)
df_org = df.copy()
print('data size is :', df.shape)
df.info()
df.head()

data size is : (887379, 74)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
id                             887379 non-null int64
member_id                      887379 non-null int64
loan_amnt                      887379 non-null float64
funded_amnt                    887379 non-null float64
funded_amnt_inv                887379 non-null float64
term                           887379 non-null object
int_rate                       887379 non-null float64
installment                    887379 non-null float64
grade                          887379 non-null object
sub_grade                      887379 non-null object
emp_title                      835922 non-null object
emp_length                     887379 non-null object
home_ownership                 887379 non-null object
annual_inc                     887375 non-null float64
verification_status            887379 non-null object
issue_d                        887379 non-null object
loan_status                    887379 non-null object
pymnt_plan                     887379 non-null object
url                            887379 non-null object
desc                           126029 non-null object
purpose                        887379 non-null object
title                          887228 non-null object
zip_code                       887379 non-null object
addr_state                     887379 non-null object
dti                            887379 non-null float64
delinq_2yrs                    887350 non-null float64
earliest_cr_line               887350 non-null object
inq_last_6mths                 887350 non-null float64
mths_since_last_delinq         433067 non-null float64
mths_since_last_record         137053 non-null float64
open_acc                       887350 non-null float64
pub_rec                        887350 non-null float64
revol_bal                      887379 non-null float64
revol_util                     886877 non-null float64
total_acc                      887350 non-null float64
initial_list_status            887379 non-null object
out_prncp                      887379 non-null float64
out_prncp_inv                  887379 non-null float64
total_pymnt                    887379 non-null float64
total_pymnt_inv                887379 non-null float64
total_rec_prncp                887379 non-null float64
total_rec_int                  887379 non-null float64
total_rec_late_fee             887379 non-null float64
recoveries                     887379 non-null float64
collection_recovery_fee        887379 non-null float64
last_pymnt_d                   869720 non-null object
last_pymnt_amnt                887379 non-null float64
next_pymnt_d                   634408 non-null object
last_credit_pull_d             887326 non-null object
collections_12_mths_ex_med     887234 non-null float64
mths_since_last_major_derog    221703 non-null float64
policy_code                    887379 non-null float64
application_type               887379 non-null object
annual_inc_joint               511 non-null float64
dti_joint                      509 non-null float64
verification_status_joint      511 non-null object
acc_now_delinq                 887350 non-null float64
tot_coll_amt                   817103 non-null float64
tot_cur_bal                    817103 non-null float64
open_acc_6m                    21372 non-null float64
open_il_6m                     21372 non-null float64
open_il_12m                    21372 non-null float64
open_il_24m                    21372 non-null float64
mths_since_rcnt_il             20810 non-null float64
total_bal_il                   21372 non-null float64
il_util                        18617 non-null float64
open_rv_12m                    21372 non-null float64
open_rv_24m                    21372 non-null float64
max_bal_bc                     21372 non-null float64
all_util                       21372 non-null float64
total_rev_hi_lim               817103 non-null float64
inq_fi                         21372 non-null float64
total_cu_tl                    21372 non-null float64
inq_last_12m                   21372 non-null float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# plot the data info for each feature
row,col = df.shape
for i in range(0,col,10): 
    print(df.iloc[:,i:i+10].head())

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599     5000.0       5000.0           4975.0   36 months
1  1077430    1314167     2500.0       2500.0           2500.0   60 months
2  1077175    1313524     2400.0       2400.0           2400.0   36 months
3  1076863    1277178    10000.0      10000.0          10000.0   36 months
4  1075358    1311748     3000.0       3000.0           3000.0   60 months

   int_rate  installment grade sub_grade
0     10.65       162.87     B        B2
1     15.27        59.83     C        C4
2     15.96        84.33     C        C5
3     13.49       339.31     C        C1
4     12.69        67.79     B        B5
                  emp_title emp_length home_ownership  annual_inc  \
0                       NaN  10+ years           RENT     24000.0
1                     Ryder   < 1 year           RENT     30000.0
2                       NaN  10+ years           RENT     12252.0
3       AIR RESOURCES BOARD  10+ years           RENT     49200.0
4  University Medical Group     1 year           RENT     80000.0

  verification_status   issue_d  loan_status pymnt_plan  \
0            Verified  Dec-2011   Fully Paid          n
1     Source Verified  Dec-2011  Charged Off          n
2        Not Verified  Dec-2011   Fully Paid          n
3     Source Verified  Dec-2011   Fully Paid          n
4     Source Verified  Dec-2011      Current          n

                                                 url  \
0  https://www.lendingclub.com/browse/loanDetail....
1  https://www.lendingclub.com/browse/loanDetail....
2  https://www.lendingclub.com/browse/loanDetail....
3  https://www.lendingclub.com/browse/loanDetail....
4  https://www.lendingclub.com/browse/loanDetail....

                                                desc
0    Borrower added on 12/22/11 > I need to upgra...
1    Borrower added on 12/22/11 > I plan to use t...
2                                                NaN
3    Borrower added on 12/21/11 > to pay for prop...
4    Borrower added on 12/21/11 > I plan on combi...
          purpose                 title zip_code addr_state    dti  \
0     credit_card              Computer    860xx         AZ  27.65
1             car                  bike    309xx         GA   1.00
2  small_business  real estate business    606xx         IL   8.72
3           other              personel    917xx         CA  20.00
4           other              Personal    972xx         OR  17.94

   delinq_2yrs earliest_cr_line  inq_last_6mths  mths_since_last_delinq  \
0          0.0         Jan-1985             1.0                     NaN
1          0.0         Apr-1999             5.0                     NaN
2          0.0         Nov-2001             2.0                     NaN
3          0.0         Feb-1996             1.0                    35.0
4          0.0         Jan-1996             0.0                    38.0

   mths_since_last_record
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
   open_acc  pub_rec  revol_bal  revol_util  total_acc initial_list_status  \
0       3.0      0.0    13648.0        83.7        9.0                   f
1       3.0      0.0     1687.0         9.4        4.0                   f
2       2.0      0.0     2956.0        98.5       10.0                   f
3      10.0      0.0     5598.0        21.0       37.0                   f
4      15.0      0.0    27783.0        53.9       38.0                   f

   out_prncp  out_prncp_inv   total_pymnt  total_pymnt_inv
0        0.0            0.0   5861.071414          5831.78
1        0.0            0.0   1008.710000          1008.71
2        0.0            0.0   3003.653644          3003.65
3        0.0            0.0  12226.302212         12226.30
4      766.9          766.9   3242.170000          3242.17
   total_rec_prncp  total_rec_int  total_rec_late_fee  recoveries  \
0          5000.00         861.07                0.00        0.00
1           456.46         435.17                0.00      117.08
2          2400.00         603.65                0.00        0.00
3         10000.00        2209.33               16.97        0.00
4          2233.10        1009.07                0.00        0.00

   collection_recovery_fee last_pymnt_d  last_pymnt_amnt next_pymnt_d  \
0                     0.00     Jan-2015           171.62          NaN
1                     1.11     Apr-2013           119.66          NaN
2                     0.00     Jun-2014           649.91          NaN
3                     0.00     Jan-2015           357.48          NaN
4                     0.00     Jan-2016            67.79     Feb-2016

  last_credit_pull_d  collections_12_mths_ex_med
0           Jan-2016                         0.0
1           Sep-2013                         0.0
2           Jan-2016                         0.0
3           Jan-2015                         0.0
4           Jan-2016                         0.0
   mths_since_last_major_derog  policy_code application_type  \
0                          NaN          1.0       INDIVIDUAL
1                          NaN          1.0       INDIVIDUAL
2                          NaN          1.0       INDIVIDUAL
3                          NaN          1.0       INDIVIDUAL
4                          NaN          1.0       INDIVIDUAL

   annual_inc_joint  dti_joint verification_status_joint  acc_now_delinq  \
0               NaN        NaN                       NaN             0.0
1               NaN        NaN                       NaN             0.0
2               NaN        NaN                       NaN             0.0
3               NaN        NaN                       NaN             0.0
4               NaN        NaN                       NaN             0.0

   tot_coll_amt  tot_cur_bal  open_acc_6m
0           NaN          NaN          NaN
1           NaN          NaN          NaN
2           NaN          NaN          NaN
3           NaN          NaN          NaN
4           NaN          NaN          NaN
   open_il_6m  open_il_12m  open_il_24m  mths_since_rcnt_il  total_bal_il  \
0         NaN          NaN          NaN                 NaN           NaN
1         NaN          NaN          NaN                 NaN           NaN
2         NaN          NaN          NaN                 NaN           NaN
3         NaN          NaN          NaN                 NaN           NaN
4         NaN          NaN          NaN                 NaN           NaN

   il_util  open_rv_12m  open_rv_24m  max_bal_bc  all_util
0      NaN          NaN          NaN         NaN       NaN
1      NaN          NaN          NaN         NaN       NaN
2      NaN          NaN          NaN         NaN       NaN
3      NaN          NaN          NaN         NaN       NaN
4      NaN          NaN          NaN         NaN       NaN
   total_rev_hi_lim  inq_fi  total_cu_tl  inq_last_12m
0               NaN     NaN          NaN           NaN
1               NaN     NaN          NaN           NaN
2               NaN     NaN          NaN           NaN
3               NaN     NaN          NaN           NaN
4               NaN     NaN          NaN           NaN

In [6]:
# check the feature with NAN and set a threshold for the NAN number 
featureCount =  df.isnull().sum().to_dict()
#print(featureCount)
threshold = int(len(df)*0.90)
#print(threshold)
nanfeature = []
for i, j in featureCount.items():
    #print(i,j)
    if j >= threshold:
        nanfeature.append(i)
print('usless feature number is', len(nanfeature))
#print(nanfeature)
# clean the data 
df_loan = df.drop(nanfeature,axis = 1)
# check the size again
print('data size after cleaning the NAN is:', df_new.shape)
print(df_loan.head(2))

usless feature number is 17

NameError: name 'df_new' is not defined

In [9]:
dropCol = ['url','desc']
df_loan.drop(dropCol,axis = 1)
df_loan.shape

(887379, 57)

In [10]:
# split the issue_d to issue_month, issue_year
df_loan['issue_month'], df_loan['issue_year'] = df_loan['issue_d'].str.split('-',1).str
df_loan['last_pymnt_month'], df_loan['last_pymnt_year'] = df_loan['last_pymnt_d'].str.split('-',1).str

In [11]:
# save the data at new csv file
df_loan.to_csv('clean_data.csv')

# summary
1. data size: (887379, 74)
2. useless feature: 19 the useless feature define as 90% of the records are empty, the may not help for furture anaysis and then delete it. Please note: we delay it juse because it is useless for our current analysis, later we still need to go though the data and find any relation ship between these features
3. reformat some features